templates/backup-mysql-flexible-server.json
{
    "id": "backup_mysql_flexible_server",
    "description": "Backup MySQL Flexible Server at a scheduled time of the day",
    "title": "Backup MySQL Flexible Server",
    "iconType": "ScheduledTask",
    "skuType": "Consumption",
    "data": {
        "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
                "$connections": {
                    "defaultValue": {},
                    "type": "Object"
                }
            },
            "triggers": {
                "Recurrence": {
                    "recurrence": {
                        "frequency": "@parameters('Frequency')",
                        "interval": "@parameters('Interval')",
                        "startTime": "@formatDateTime(parameters('BackupTime'), 'yyyy-MM-ddTHH:mm:ss')",
                        "timeZone": "@parameters('TimeZone')"
                    },
                    "type": "Recurrence"
                }
            },
            "actions": {
                "Notify_on_failure": {
                    "actions": {
                        "Send_an_email_on_failure": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "To": "@parameters('EmailID')",
                                    "Subject": "Your automation task failed to Backup MySQL Flexible Server @{parameters('ResourceVM')}",
                                    "Body": "<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Status: </strong></b><span style=\"background-color: rgb(241, 158, 158);\">FAILED</span></p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Backup Name: </strong></b>@{variables('BackupName')}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Error Details :</strong></b><br>@{body('Backup_Flexible_Server')}</p>"
                                },
                                "path": "/v2/Mail"
                            }
                        }
                    },
                    "runAfter": {
                        "Backup_Flexible_Server": [
                            "Failed",
                            "Skipped",
                            "TimedOut"
                        ]
                    },
                    "else": {
                        "actions": {}
                    },
                    "expression": {
                        "and": [
                            {
                                "equals": [
                                    "@parameters('Notify')",
                                    true
                                ]
                            }
                        ]
                    },
                    "type": "If"
                },
                "Notify_on_success": {
                    "actions": {
                        "Send_an_email_on_success": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "To": "@parameters('EmailID')",
                                    "Subject": "Your automation task sucessfully Backup MySQL Flexible Server @{parameters('ResourceVM')}",
                                    "Body": "<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Status:</strong></b> <span style=\"background-color: rgb(126, 211, 33);\">SUCCESS</span></p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Backup Name: </strong></b>@{variables('BackupName')}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">BackupDetails:</strong></b></p><p class=\"editor-paragraph\">@{body('Backup_Flexible_Server')?['properties']}</p>"
                                },
                                "path": "/v2/Mail"
                            }
                        }
                    },
                    "runAfter": {
                        "Backup_Flexible_Server": [
                            "Succeeded"
                        ]
                    },
                    "else": {
                        "actions": {}
                    },
                    "expression": {
                        "and": [
                            {
                                "equals": [
                                    "@parameters('Notify')",
                                    true
                                ]
                            }
                        ]
                    },
                    "type": "If"
                },
                "Backup_Flexible_Server": {
                    "runAfter": {
                        "Initialize_variables": [
                            "Succeeded"
                        ]
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['arm']['connectionId']"
                            }
                        },
                        "method": "put",
                        "path": "/subscriptions/@{encodeURIComponent(parameters('SubscriptionId'))}/resourcegroups/@{encodeURIComponent(parameters('ResourceGroup'))}/providers/@{encodeURIComponent('Microsoft.DBforMySQL')}/@{encodeURIComponent('flexibleServers/',parameters('ResourceVM'),'/backups/',variables('BackupName'))}",
                        "queries": {
                            "x-ms-api-version": "2023-12-30"
                        }
                    }
                },
                "Initialize_variables": {
                    "runAfter": {},
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "BackupName",
                                "type": "string",
                                "value": "@{concat('ondemandschedule-la-', toLower(workflow().run.name))}"
                            }
                        ]
                    }
                }
            },
            "outputs": {}
        },
        "connections": {
            "office365": {
                "id": "/subscriptions/0000-0000/providers/Microsoft.Web/locations/australiaeast/managedApis/office365",
                "connectionId": "",
                "connectionName": ""
            },
            "arm": {
                "id": "/subscriptions/0000-0000/providers/Microsoft.Web/locations/australiaeast/managedApis/arm",
                "connectionId": "",
                "connectionName": ""
            }
        },
        "parameters": {
            "ResourceGroup": {
                "type": "String",
                "metadata": {
                    "isLinkedResource": true,
                    "sourceParameter": "resourceGroup"
                }
            },
            "ResourceVM": {
                "type": "String",
                "metadata": {
                    "isLinkedResource": true,
                    "sourceParameter": "name"
                }
            },
            "SubscriptionId": {
                "type": "String",
                "metadata": {
                    "isLinkedResource": true,
                    "sourceParameter": "subscriptionId"
                }
            },
            "BackupTime": {
                "type": "String",
                "defaultValue": "2025-04-25T00:00:00.000",
                "metadata": {
                    "displayName": "Backup Time",
                    "format": "timeFormat",
                    "required": false,
                    "description": "Select time to backup MySQL Flexible Server"
                }
            },
            "TimeZone": {
                "type": "String",
                "metadata": {
                    "allowedValues": [
                        "Dateline Standard Time",
                        "UTC-11",
                        "Aleutian Standard Time",
                        "Hawaiian Standard Time",
                        "Marquesas Standard Time",
                        "Alaskan Standard Time",
                        "UTC-09",
                        "Pacific Standard Time (Mexico)",
                        "UTC-08",
                        "Pacific Standard Time",
                        "US Mountain Standard Time",
                        "Mountain Standard Time (Mexico)",
                        "Mountain Standard Time",
                        "Central America Standard Time",
                        "Central Standard Time",
                        "Easter Island Standard Time",
                        "Central Standard Time (Mexico)",
                        "Canada Central Standard Time",
                        "SA Pacific Standard Time",
                        "Eastern Standard Time (Mexico)",
                        "Eastern Standard Time",
                        "Haiti Standard Time",
                        "Cuba Standard Time",
                        "US Eastern Standard Time",
                        "Paraguay Standard Time",
                        "Atlantic Standard Time",
                        "Venezuela Standard Time",
                        "Central Brazilian Standard Time",
                        "SA Western Standard Time",
                        "Pacific SA Standard Time",
                        "Turks And Caicos Standard Time",
                        "Newfoundland Standard Time",
                        "Tocantins Standard Time",
                        "E. South America Standard Time",
                        "SA Eastern Standard Time",
                        "Argentina Standard Time",
                        "Greenland Standard Time",
                        "Montevideo Standard Time",
                        "Saint Pierre Standard Time",
                        "Bahia Standard Time",
                        "UTC-02",
                        "Mid-Atlantic Standard Time",
                        "Azores Standard Time",
                        "Cape Verde Standard Time",
                        "UTC",
                        "Morocco Standard Time",
                        "GMT Standard Time",
                        "Greenwich Standard Time",
                        "W. Europe Standard Time",
                        "Central Europe Standard Time",
                        "Romance Standard Time",
                        "Central European Standard Time",
                        "W. Central Africa Standard Time",
                        "Namibia Standard Time",
                        "Jordan Standard Time",
                        "GTB Standard Time",
                        "Middle East Standard Time",
                        "Egypt Standard Time",
                        "E. Europe Standard Time",
                        "Syria Standard Time",
                        "West Bank Standard Time",
                        "South Africa Standard Time",
                        "FLE Standard Time",
                        "Turkey Standard Time",
                        "Israel Standard Time",
                        "Kaliningrad Standard Time",
                        "Libya Standard Time",
                        "Arabic Standard Time",
                        "Arab Standard Time",
                        "Belarus Standard Time",
                        "Russian Standard Time",
                        "E. Africa Standard Time",
                        "Iran Standard Time",
                        "Arabian Standard Time",
                        "Astrakhan Standard Time",
                        "Azerbaijan Standard Time",
                        "Russia Time Zone 3",
                        "Mauritius Standard Time",
                        "Georgian Standard Time",
                        "Caucasus Standard Time",
                        "Afghanistan Standard Time",
                        "West Asia Standard Time",
                        "Ekaterinburg Standard Time",
                        "Pakistan Standard Time",
                        "India Standard Time",
                        "Sri Lanka Standard Time",
                        "Nepal Standard Time",
                        "Central Asia Standard Time",
                        "Bangladesh Standard Time",
                        "N. Central Asia Standard Time",
                        "Myanmar Standard Time",
                        "SE Asia Standard Time",
                        "Altai Standard Time",
                        "W. Mongolia Standard Time",
                        "North Asia Standard Time",
                        "Tomsk Standard Time",
                        "China Standard Time",
                        "North Asia East Standard Time",
                        "Singapore Standard Time",
                        "W. Australia Standard Time",
                        "Taipei Standard Time",
                        "Ulaanbaatar Standard Time",
                        "North Korea Standard Time",
                        "Aus Central W. Standard Time",
                        "Transbaikal Standard Time",
                        "Tokyo Standard Time",
                        "Korea Standard Time",
                        "Yakutsk Standard Time",
                        "Cen. Australia Standard Time",
                        "AUS Central Standard Time",
                        "E. Australia Standard Time",
                        "AUS Eastern Standard Time",
                        "West Pacific Standard Time",
                        "Tasmania Standard Time",
                        "Vladivostok Standard Time",
                        "Lord Howe Standard Time",
                        "Bougainville Standard Time",
                        "Russia Time Zone 10",
                        "Magadan Standard Time",
                        "Norfolk Standard Time",
                        "Sakhalin Standard Time",
                        "Central Pacific Standard Time",
                        "Russia Time Zone 11",
                        "New Zealand Standard Time",
                        "UTC+12",
                        "Fiji Standard Time",
                        "Kamchatka Standard Time",
                        "Chatham Islands Standard Time",
                        "Tonga Standard Time",
                        "Samoa Standard Time",
                        "Line Islands Standard Time"
                    ],
                    "displayName": "Timezone",
                    "required": true,
                    "description": "Select time zone for task schedule"
                }
            },
            "Interval": {
                "type": "Int",
                "metadata": {
                    "displayName": "Interval",
                    "format": "number",
                    "required": true,
                    "description": "Time interval for recurrence"
                }
            },
            "Frequency": {
                "type": "String",
                "metadata": {
                    "allowedValues": [
                        "Month",
                        "Week",
                        "Day",
                        "Hour",
                        "Minute",
                        "Seconds"
                    ],
                    "displayName": "Frequency",
                    "required": true,
                    "description": "How often should schedule run. i.e. Weekly"
                }
            },
            "Notify": {
                "type": "Bool",
                "defaultValue": false,
                "metadata": {
                    "displayName": "Notify Me",
                    "format": "",
                    "required": false,
                    "description": "Notify me about task status"
                }
            },
            "EmailID": {
                "type": "String",
                "defaultValue": "user@microsoft.com",
                "metadata": {
                    "displayName": "Enter email",
                    "format": "",
                    "required": false,
                    "description": "Notification to be sent to email"
                }
            }
        }
    },
    "supportedResources": [
        "Microsoft.DBforMySQL/flexibleServers"
    ]
}
